NEXT_PUBLIC_SUPABASE_URL=https://funzpejykxchhyccejsi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ1bnpwZWp5a3hjaGh5Y2NlanNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NTk2NjE3MywiZXhwIjoyMTAxNTQyMTczfQ.tQFj682UmvFU9Dgr8BCpOocgI_OB1QFve5Lq8gBV4q0
NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_SITE_URL=http://localhost:3000
