PORT=4000
SUPABASE_URL=https://funzpejykxchhyccejsi.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ1bnpwZWp5a3hjaGh5Y2NlanNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NTk2NjE3MywiZXhwIjoyMTAxNTQyMTczfQ.tQFj682UmvFU9Dgr8BCpOocgI_OB1QFve5Lq8gBV4q0
SUPABASE_PUBLISHABLE_KEY=sb_publishable_stTnEOx1TgE_Sxz09_B_wg_1t809d8y
SUPABASE_SECRET_KEY=sb_secret_mPGXUPO8qMPU-y0fj8exYA_vqVKkkIU
SUPABASE_JWKS_URL=https://funzpejykxchhyccejsi.supabase.co/auth/v1/.well-known/jwks.json
EMAIL_PROVIDER=supabase
FRONTEND_URL=http://localhost:3000
